@import "/src/scss/abstracts/colors";
@import "/src/scss/abstracts/functions";

:host {
  display: flex;
}

.c-card {
  display: flex;
  flex-direction: column;
  max-width: 250px;
  width: 100%;
  border-radius: 15px;
  background-color: $card-color;
  margin: 10px;
  padding: 10px;
  cursor: pointer;

  .c-card__header {
    text-align: center;
    padding-top: 5px;
  }

  .c-card__content {
    padding: 10px;
    background-color: $secondary-color;
    margin: 0 10px 10px 10px;
    border-radius: inherit;

    .c-card__contentImage {
      width: 100px;
      height: 100px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
}
