@import "/src/scss/abstracts/colors";
@import "/src/scss/abstracts/functions";

:host {
  display: flex;
}

.c-card {
  display: flex;
  flex-direction: column;
  max-width: rem(250px);
  width: 100%;
  border-radius: rem(15px);
  background-color: $card-color;
  margin: rem(10px);
  padding: rem(10px);
  cursor: pointer;

  .c-card__header {
    text-align: center;
    padding-top: rem(5px);
  }

  .c-card__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: rem(10px);
    background-color: $secondary-color;
    margin: 0 rem(10px) rem(10px) rem(10px);
    border-radius: inherit;

    .c-card__contentImage {
      width: 100%;
      max-width: rem(100px);
      height: rem(100px);
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      margin-top: rem(5px);
    }
  }
}
