@import "/src/scss/abstracts/colors";

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: $text-secondary-color;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: $text-secondary-color;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: $text-secondary-color;
}