@import "/src/scss/abstracts/colors";
@import "/src/scss/abstracts/functions";

:host {
  width: 100%;

  .c-gamesManagement {
    height: 100%;

    .c-gamesManagement__banner {
      height: rem(340px);
      background-image: url('/assets/images/banner.jpg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }

    .c-gamesManagement__filters,
    .c-gamesManagement__games {
      background-color: $primary-color-background;
    }

    .c-gamesManagement__games {
      display: flex;
      min-height: 100vh;
    }
  }
}
