@import "/src/scss/abstracts/colors";
@import "/src/scss/abstracts/functions";

:host {
  width: 100%;

  .c-gamesManagement {
  
    .c-gamesManagement__banner {
      height: 340px;
      background-color: black;
      // background-image: url('/src/assets/images/banner.png');
    }

    .c-gamesManagement__filters,
    .c-gamesManagement__games {
      background-color: $primary-color-background;
    }
  }
}