@import "/src/scss/abstracts/colors";
@import "/src/scss/abstracts/functions";

:host {
  height: 100%;
  width: 100%;
}

.c-collectCoins {
  display: flex;
  flex: 2 0 auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;

  h1 {
    text-align: center;
    font-weight: bold;
  }

  .c-collectCoins__coin {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;

    mat-icon {
      width: 100px;
      height: 100px;
      cursor: pointer;
      animation: coinBasicAnimation 2s infinite;
    }

    &.c-collectCoins__coin--collecting {
      animation: coinCollectAnimation 3s forwards;
    }
  }
}

@keyframes coinBasicAnimation {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.3);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes coinCollectAnimation {
  0% {
    transform: translateY(0) rotateY(360deg);
  }

  90% {
    filter: brightness(1.4);
  }

  99% {
    transform: translateY(-300px);
  }

  100% {
    transform: translateY(-300px) scale(0);
    filter: brightness(1.4);
  }
}
