@import "/src/scss/abstracts/colors";
@import "/src/scss/abstracts/functions";
@import "/src/scss/components/mat-icon-button";

.c-header {
  flex: 2 0 auto;
  height: rem(50px);
  display: flex;  
  align-items: center;
  justify-content: space-between;

  img {
    width: 100px;
  }
}
