@import "/src/scss/abstracts/functions";
@import "/src/scss/abstracts/colors";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;

  * {
    color: $text-color;
  }
}

mat-divider {
  margin: rem(10px) 0;
}
