@import "/src/scss/abstracts/colors";
@import "/src/scss/abstracts/functions";

:host {
  height: 100%;
  flex: 2 0 auto;
  width: 100%;
  display: flex;
}

.c-game {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px 400px;
}
