@import "/src/scss/abstracts/colors";
@import "/src/scss/abstracts/functions";

:host {
  height: 100%;
  flex: 2 0 auto;
  width: 100%;
  display: flex;
}

.c-game {
  display: grid;
  gap: 50px;
  padding: 20px;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: auto;

  @media only screen and (max-width: 575px) {
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  }

  @media only screen and (min-width: 767px){
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: auto auto auto;
  }
  
}
