:host {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.c-loginForm{
  mat-form-field {
    width: 100%;
    margin: 5px;
    padding: 5px;
  }
  .buttonForm {
    display: flex;
    justify-content: center;

    button {
      width: 70%;
    }
  }
}
