<ng-container *transloco="let t">
  <form [formGroup]="loginForm" class="c-loginForm">
    <mat-form-field class="example-full-width">
      <mat-label>{{ t("email") }}</mat-label>
      <input type="email" matInput formControlName="mail" placeholder="example@example.com" />
      <mat-error *ngIf="
          loginForm.get('mail').hasError('email') &&
          !loginForm.get('mail').hasError('required')
        ">
        {{ t("email.valid.address") }}
      </mat-error>
      <mat-error *ngIf="loginForm.get('mail').hasError('required')">
        {{ t("is.required") }}
      </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>{{ t("password") }}</mat-label>
      <input type="password" matInput formControlName="password" placeholder="{{ t('password') }}" />
      <mat-error *ngIf="
          loginForm.get('password').hasError('minLength') &&
          !loginForm.get('password').hasError('required')
        ">
        Minimo X caracteres
      </mat-error>
      <mat-error *ngIf="loginForm.get('password').hasError('required')">
        {{ t("is.required") }}
      </mat-error>
    </mat-form-field>

    <div class="buttonForm">
      <button class="w-50" mat-stroked-button >{{ t('login.button') }}</button>
    </div>
  </form>
</ng-container>
